.btn-blue {
	background-color: #056E90;
	color:white;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding-inline: 132.92px;

}

.btn-blue:hover {
	color:white;
	background-color: black;
	
@media (max-width:760px ) {
	.btn-blue {
		width:600px;
		padding-inline: 5px;
	}

}

@media (max-width:500px ) {
	.btn-blue {
		width:400px;
		padding-inline: 100px;
	}

